@import url('https://fonts.cdnfonts.com/css/rollston');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&display=swap');

:root {
    --porce-bg: #f2dfdf;
    --porce-maincl: #000;
    --porce-scdr: #fff;
    --porce-pcs: url(https://i.imgur.com/Ml97cg8.png) center/cover no-repeat;
    --porce-logo: url(https://i.imgur.com/dWcmvon.png);
}

.porce-main {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--porce-bg);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}

.porce-logo {
  width: 150px;
  height: 150px;
  background-image: var(--porce-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.porce-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.porce-card,
.porce-card2 {
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--porce-scdr);
  border: 1px solid var(--porce-maincl);
}

.porce-card img.porce-img {
    width: auto;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.porce-card2 {
  flex: 1;
  min-width: 250px;
}

.porce-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.porce-dsc {
  font-family: 'Noto Sans Thai Looped', sans-serif;
  font-size: 16px;
  color: var(--porce-maincl);
}

@media (max-width: 900px) {
    .porce-card {
        flex: 0 1 45%;
    }
    .porce-card2 {
        flex: 0 1 100%;
        padding: 30px 10px 20px;
    }
}

@media (max-width: 480px) {
    .porce-card {
        flex: 0 1 100%;
    }
    .porce-card2 {
        flex: 0 1 100%;
        padding: 20px 10px 15px;
    }
}
